{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height:80vh;">

    <div class="card shadow-lg p-5 text-center" style="max-width:800px; width:100%;">

        <h1 class="display-3 fw-bold text-primary mb-4">
            About FinanceHub
        </h1>

        <p class="fs-4">
            FinanceHub is a Personal Finance Management System built using
            Python, Flask, SQLite, HTML, CSS, Bootstrap and Chart.js.
        </p>

        <hr>

        <h2 class="fw-bold mt-4">Our Mission</h2>

        <p class="fs-5">
            To help users easily manage income, expenses, savings,
            and visualize their financial growth through interactive dashboards.
        </p>

    </div>

</div>

{% endblock %}