{% extends "base.html" %}

{% block content %}

<section class="dashboard">

    <h1>Edit Transaction</h1>

    <form method="POST">

        <label>Transaction Type</label>

        <select name="type">

            <option value="Income"
            {% if transaction[1] == "Income" %}selected{% endif %}>
                Income
            </option>

            <option value="Expense"
            {% if transaction[1] == "Expense" %}selected{% endif %}>
                Expense
            </option>

        </select>

        <br><br>

        <label>Amount</label>

        <input
            type="number"
            name="amount"
            value="{{ transaction[2] }}"
            required>

        <br><br>

        <button type="submit">
            Update Transaction
        </button>

    </form>

</section>

{% endblock %}