{% extends "base.html" %}



{% block title %}
Invoice Generator
{% endblock %}




{% block content %}


<div class="container text-center">


<h1 style="color:#00ff99;">
Invoice Generator
</h1>



<div class="card p-5 mt-4"
style="background:#1a1a1a;color:white;">



<input id="customer"
class="form-control"
placeholder="Customer Name">


<br>


<input id="item"
class="form-control"
placeholder="Item Name">


<br>


<input id="price"
class="form-control"
placeholder="Price">


<br>


<button onclick="generateInvoice()">

Generate Invoice

</button>




<h3 id="invoice"
style="margin-top:30px;color:#00ff99;">

</h3>



</div>


</div>



{% endblock %}





{% block scripts %}


<script>


function generateInvoice(){


let customer =
document.getElementById("customer").value;


let item =
document.getElementById("item").value;


let price =
document.getElementById("price").value;



document.getElementById("invoice").innerHTML =


"Invoice<br><br>"+

"Customer : "+customer+

"<br>Item : "+item+

"<br>Total Amount : ₹"+price;



}



</script>


{% endblock %}